<div *ngIf="article" class="articles">
  <label>References to Articles</label>
  <ul>
    <li *ngFor="let shortArticle of article.Refs">
      <label class="badge"> {{shortArticle.Name}}</label>
      <button *ngIf="currentUser" class="badge" class="delete" title="delete article" (click)="delete(shortArticle)">Del</button>
    </li>
  </ul>
</div>
<div *ngIf="allArticles && currentUser" class="articles">
  Add References to another Articles
  <ul>
    <li *ngFor="let shortArticle of allArticles">
      <label class="badge"> {{shortArticle.Name}}</label>
      <button class="add" title="add article" (click)="add(shortArticle)">Add</button>
    </li>
  </ul>
</div>
