<div *ngIf="article">
  <h2>{{article.Name}} Detail</h2>
  <div><span>id: </span>{{article.Id}}</div>
  <span *ngIf="article.Picture">
    <img src="http://localhost:50592{{article.Picture}}" width="100" />
    <p></p>
  </span>
  <p>
    <label>
      Date: {{article.Date}}
    </label>
  </p>
  <p>
    <label>
      Name: {{article.Name}}
    </label>
  </p>

  <p>
    <label>
      Language: {{article.Language}}
    </label>
  </p>

  <p>
    <iframe width="745" height="419" [src]='sanitizer.bypassSecurityTrustResourceUrl(myurl)' frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </p>

  <app-article-refs *ngIf="article.ArticleRefs" [article]="article.ArticleRefs"></app-article-refs>
  <app-article-categ-refs *ngIf="article.CategoryRefs" [categories]="article.CategoryRefs"></app-article-categ-refs>

  <button (click)="goBack()">go back</button>
</div>
