
  <div>
    <label>
      Name:
      <input type="text" #Name placeholder="Name"/>
    </label>
    <p></p>
    <label>
      Language:
      <input type="text" #Language placeholder="Language"/>
    </label>
    <p></p>
    <label>
      Picture:
      <input type="file" accept=".png" #Picture name="image" #Picture (change)="onChange($event.target.files)" placeholder="Picture"/>
    </label>
    <p></p>
    <label>
      Video:
      <input type="url" #Video placeholder="Refrrence to Video"/>
    </label>

    <div>
      <app-article-refs [article]="article.ArticleRefs"></app-article-refs>
    </div>

    <app-article-categ-refs [categories]="article.CategoryRefs"></app-article-categ-refs>
  </div>
  <button (click)="goBack()">go back</button>
  <button *ngIf="currentUser" (click)="add(Name.value, Language.value, Video.value)">add</button>
