
  <div>
    <label>
      Name:
      <input [(ngModel)]="article.Name" placeholder="Name"/>
    </label>
    <label>
      Language:
      <input [(ngModel)]="article.Language" placeholder="Language"/>
    </label>
    <label>
      Picture:
      <input [(ngModel)]="article.Picture" placeholder="Picture"/>
    </label>
    <label>
      Video:
      <input [(ngModel)]="article.Video" placeholder="Video"/>
    </label>
    <app-article-refs [article]="article"></app-article-refs>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="add()">save</button>
