
  <div>
    <label>
      Date:
      <input [(ngModel)]="article.Date" placeholder="Date"/>
    </label>
    <label>
      UserId:
      <input [(ngModel)]="article.UserId" placeholder="UserId"/>
    </label>
    <label>
      Name:
      <input [(ngModel)]="article.Name" placeholder="Name"/>
    </label>
    <label>
      Language:
      <input [(ngModel)]="article.Language" placeholder="Language"/>
    </label>
    <label>
      Picture:
      <input [(ngModel)]="article.Picture" placeholder="Picture"/>
    </label>
    <label>
      Video:
      <input [(ngModel)]="article.Video" placeholder="Video"/>
    </label>
    <app-article-refs [article]="article.ArticleRefs"></app-article-refs>
    <app-article-categ-refs [categories]="article.CategoryRefs"></app-article-categ-refs>
  </div>
  <button (click)="goBack()">go back</button>
  <button (click)="add()">save</button>
