<div *ngIf="categories" class="categories">
  <label>References to Categories</label>
  <ul>
    <li *ngFor="let category of categories.Refs">
      <label class="badge">{{category.Name}}</label>
      <button *ngIf="currentUser" class="delete" title="delete category"
      (click)="delete(category)">Del</button>
    </li>
  </ul>
</div>
<div *ngIf="allCategory && currentUser" class="categories">
  Add References to Another Categories
  <ul>
    <li *ngFor="let category of allCategory">
      <label class="badge">{{category.Name}}</label>
      <button class="add" title="add category"
      (click)="add(category)">Add</button>
    </li>
  </ul>
</div>
