<p>Articles</p>
<div *ngIf="articles" class="articles">
  <ul>
    <li *ngFor="let article of articles">
        <img src="http://localhost:50592{{article.Picture}}" width="50" />
        <p></p>
      <a class="badge" routerLink="/article/detail/{{article.Id}}">
        {{article.Name}}
      </a>
      <a *ngIf="currentUser" class="badge" routerLink="/article/change/{{article.Id}}">
        Change
      </a>
      <button *ngIf="currentUser" class="delete" title="delete article" (click)="delete(article)">Del</button>
    </li>
  </ul>
  <a *ngIf="currentUser" y class="badge" routerLink="/article/add/{{id}}">Add</a>
</div>

<p></p>

<button (click)="goBack()">go back</button>
