<!--The content below is only a placeholder and can be replaced.-->
<h1>{{title}}</h1>
<nav (change)="onChange()">
  <label *ngIf="!currentUser">
    <a routerLink="/register">Register</a> |
    <a routerLink="/login">LogIn</a> |
  </label>
  <label *ngIf="currentUser">
    <a routerLink="/account">Account</a> |
    <a (click)="logout()">Logout</a> |
  </label>
  <a routerLink="/categories">Categories</a> |
  <a routerLink="/articles">Articles</a> |
  <a routerLink="/search">Search</a> |
  <a routerLink="/searchByDate">Search by Date</a> |
  <a routerLink="/searchByCategory">Search by Category</a> |
  <a *ngIf="isAdmin" routerLink="/admin/users">All Users</a>
</nav>
<app-messages></app-messages>
<router-outlet></router-outlet>
